{% extends "base.html" %}

{% block sidebar %}
  <div id="sidebar-nav" class="span3" style="padding-left:10px;">

    <h1>Deployment Map</h1>  
    <div class="well well-small" style="align:center;">

      <p class="lead"> Deployment Map</p>
      <p>options</p>
    </div><!--/.well -->
  </div>
{% endblock %}

{% block content_header %}
  <ul class="breadcrumb">
    <li><a href="/data">Data</a>  
    <li><a href="/data/deployments/"><span class="divider">></span> Deployment List</a></li>
    <li class="active"><span class="divider">></span> Deployment Map</li>
  </ul>
{% endblock %}

<!--{% block breadcrumbs %}
  <li class="active">AUV Deployment List</li>
{% endblock %}-->

{% block content %}
  <!--{% if latest_deployment_list %}
    <table class="table table-striped">
      <tbody>
          {% for deployment in latest_deployment_list %}
            <tr>
              <td>{{deployment.start_position.geojson}}</td>
            <tr>

          {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No deployments are available.</p>
  {% endif %}-->
  <div id='map_container2'></div>
  

{% endblock %}

{% block add_script %}
    <script src='{{ STATIC_URL }}assets/openlayers/OpenLayers.js'> </script>
    <script src='{{ STATIC_URL }}assets/esriOceanBasemap/map.js'></script>
    
    <script type="text/javascript">
        var lon = 138;
        var lat = -35;
        var zoom = 4;
        var map, layer;

 function init(){

            map = new OpenLayers.Map('map_container2');
            layer = new OpenLayers.Layer.WMS( "OpenLayers WMS", 
                    "http://vmap0.tiles.osgeo.org/wms/vmap0",
                    {layers: 'basic'} );
            
            map.addLayer(layer);
            map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
var geojson_data = '{ "type": "FeatureCollection", "features": [ {"geometry": { "type": "GeometryCollection", "geometries": [\
{% for deployment in latest_deployment_list %}{% if not forloop.last %}{{deployment.start_position.geojson|safe}},{% else %}{{deployment.start_position.geojson|safe}}{% endif %}{% endfor %}] }, "type": "Feature", "properties": {}} ] }';
           
           var geojson_format = new OpenLayers.Format.GeoJSON();
           var featurecollection = geojson_format.read(geojson_data);
           
           var vector_layer = new OpenLayers.Layer.Vector(); 
           map.addLayer(vector_layer);
           vector_layer.addFeatures(geojson_format.read(geojson_data));

        }
    </script>
{% endblock %}