{% extends "base-nosidebar.html" %}

	
{% block content %}

<table class="table">

  <tr><td><a href="/data/campaigns/" class="btn btn-large" style="width: 100px"> Campaigns </a></td><td><p class="lead">Campaigns are a place where you can group data together from various instruments/datasets</p>
  </td></tr>
  <tr><td><a href="/data/deployments/" class="btn btn-large" style="width: 100px"> Deployments </a></td><td><p class="lead">Deployments are datasets collected from an instrument</p></td></tr>
  <!--<tr><td><a href="/data/spatialsearch/" class="btn btn-large"> Deployment Spatial Search</a></td><td><p class="lead">Find deployments by Lat/Long</p></td></tr>--

</table>

{% endblock %}

