#deployment-map {
    width: 550px;
    float: left;
}

#map-panel {
    width: 100%;
    font-size: 12px;
    color: #fff;
    text-align: left;
    vertical-align: top;
    padding: 10px;
}

#map-panel-container {
    width: 250px;
    overflow-y: hidden;
    overflow-x: scroll;
    float: right;
    background-color: #333333;
    padding: 0px;
}
/*
.mapinfo {
    background-repeat:no-repeat;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 5px #000000;
    text-align: left;
    position: relative;
}
.mapthumb {
    background-repeat:no-repeat;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 5px #000000;
    text-align: left;
    position: relative;
}
.mapselect {
    background-repeat:no-repeat;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 5px #000000;
    text-align: left;
    position: relative;
}
*/

#mapinfo {
    display: none;
    /*z-index: -1;*/
}

#map-panel .og-sidepane {
    display: block;
}

#map-panel .og-sidepane .navbar {
    z-index: inherit;
}

#deployment-map {
    background-color: #c9dbf1;
    text-align: center;
}

#deployment-map .tooltip {
	color: #ff0000;
}

.tooltip-campaign {
	font-family: sans-serif;
	font-size: 12px;
    font-weight: bold;
}
.tooltip-dive {
	font-family: sans-serif;
	font-size: 12px;
    font-weight: lighter;
	font-style: italic;
}

.layersDiv, .olControlLayerSwitcher, .olControlOverviewMapElement {
    background-color: #333333 !important;
}

#maptools .nav > li > a {
    padding: 3px 5px;
    border-radius: 8px;
}
#mapinfo .popover {
    position: fixed;
}

.map-pane-draggable {
    display: inline-block;
    position: absolute;
    /*top: 15px;
    left: 70px;*/
	bottom: 0px;
	left: 0px;
	z-index: 1009;
    width: auto;
    height: auto;
}

.map-pane-draggable .map-panel-content {
    /*max-width: 306px;*/
    display: inline-block;
}

.map-panel {
    /*margin-bottom: 25px;*/
}

.map-panel .navbar {
    z-index: inherit;
}
.map-panel .map-panel-content {
    min-height: 50px;
/*    max-height: 80px;*/
    overflow-y: auto;
    overflow-x: auto;
}

.map-panel button.active {
    background-image: linear-gradient(#670000, #910000 40%, #b60000);
}

#img-info-content img {
    border: 1px solid transparent;
}

#img-info-content .tooltip-inner {
    max-width: 450px;
    width: auto;
    text-align: left;
}

#img-info-content img:hover {
    border-color: #ffffff;
}

#mapsel-content {
    overflow: visible;
    max-height: none;
}

#map-panel-container {
    overflow: visible;
}

.map-panel .multiselect-container {
    font-size: 10px;
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.tooltip_buttons {
	visibility: 'visible';
}
