{% extends "base-blank.html" %}

{% block tail_head %}
{% endblock %}

{% block content %}

    <div id="banner-carousel" class="carousel carousel-fade slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/corral-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/cot-1.JPG" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/fish-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/fish-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/fish-3.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/fish-4.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/fish-5.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/jelly-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/seahorse-1.jpg" alt="">
            </div>
            <!--
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/sharks-1.jpg" alt="">
            </div>
            -->
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/thingy-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/turtle-1.jpg" alt="">
            </div>

        </div>
        <div id="sitetitle">
            {% if citizen_project %}
            <p>project#: {{ citizen_project }}</p>
            {% endif %}
            <h1><i class="icon-edit-sign"></i> squidle</h1>
            <p>explore &#8226; annotate &#8226; interpret &#8226; marine imagery</p>
        </div>
    </div>



    <div id="content" class="container" style="background-color: #131313; margin: 0; padding: 0;">
    <div class="row">
        <div class="col-sm-3 section">
            <a class="well" href="#" onclick="showInfoModal(curstate.htmldir+'about.html','About the Project')">
                <i class="icon-info-sign section-head"> About the Project</i>
                What is this all about? Who is involved? Why should you care?
                <span class="section-moreinfo"><i class="icon-chevron-sign-right"></i> Click for more</span>
            </a>
        </div>
        <div class="col-sm-3 section">
            <a class="well" href="#" onclick="showInfoModal(curstate.htmldir+'howto.html', 'How to...')">
                <i class="icon-hand-up section-head"> How to...</i>
                Tutorials and videos that provide useful tips on how to use the system.
                <span class="section-moreinfo"><i class="icon-chevron-sign-right"></i> Click for more</span>
            </a>
        </div>
        <div class="col-sm-3 section">
            <a class="well" href="#" onclick="showInfoModal(curstate.htmldir+'what-next.html','Diving Deeper!')">
                <i class="icon-magic section-head"> Diving Deeper</i>
                Check out more details about the project and for more info about automated tools designed to make life easier.
                <span class="section-moreinfo"><i class="icon-chevron-sign-right"></i> Click for more</span>
            </a>
        </div>
        <div class="col-sm-3 section">
            {% if user.is_authenticated %}
            <a class="well emph" href="viewproject">
                <i class="icon-tags section-head"> Get started!</i>
                Welcome back {{ user.username }}!<br>
                Jump straight to working with the data using the annotation interface.
                <span class="section-moreinfo"><i class="icon-chevron-sign-right"></i> Click to start</span>
            </a>
            {% else %}
            <a class="well emph" href="#sign-up-modal"  data-toggle="modal">
                <i class="icon-tags section-head"> <b>Get started!</b></i>
                Click here to log in or sign up and jump straight into labeling seafloor images!
                <span class="section-moreinfo"><i class="icon-chevron-sign-right"></i> Click to start</span>
            </a>
            {% endif %}
        </div>

    </div>
    </div>






    <div id="signup-complete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="icon-user"></i> Success!</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success">You have been successfully signed in. Click "Next" to get started!</div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" onclick="location.reload()" class="btn btn-default pull-left" >Cancel</a>
                    <a href="viewproject" class="btn btn-info">Next</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block add_script %}
<script src="{{ STATIC_URL }}assets/js/default.js"></script>
{% include "webinterface/subtemplates/useraccount-modal.html" %}
{% include "webinterface/subtemplates/info-modal.html" %}
{% if citizen_project == "" %}
{#    <div class="alert alert-danger" style="margin: 0; position: absolute; top:0; left: 0; width: 100%; opacity:0.8; filter:alpha(opacity=80); z-index:999;"><b><i class="icon-cogs"></i>#}
{#        UNDER CONSTRUCTION:</b> Please note that this website is currently under construction.#}
    {% include "webinterface/subtemplates/dataset-link.html" %}
{#    </div>#}
{% else %}
    {% include "webinterface/subtemplates/citizen-science-info.html" %}
{% endif %}



<script>

    var curstate = {
        isloggedin: ('{{ user.is_authenticated }}'=='True'),
        userid: ('{{ user.id }}'=='None') ? 0 : {{ user.id }},
        username: '{{ user.username }}',
        loginfuncs: [],   // functions to execute when a user is logged in
        citizen_project: '{{ citizen_project }}',
        htmldir: ('{{ citizen_project }}' =='') ? '{{ STATIC_URL }}html/' : '{{ STATIC_URL }}citizenscience_projects/{{ citizen_project }}/'
    }


    curstate.loginfuncs.push(function(id, username) {
        $("#signup-complete").modal("show");
    });


    $(document).ready(function () {
        $('#banner-carousel .item').rand(1).addClass('active');
        setHeights();
        $('#banner-carousel').carousel({
            interval: 7000,
            pause: "false"
        });
    });

    $(window).resize(function () {
        setHeights();
    });




    function setHeights() {
        //var banner_height = 0.5;
        //$('#banner-carousel').css('max-height', Math.min($(window).height() * banner_height, $('#banner-carousel .item:first').height()));
        //$("#content").css('min-height', $(window).height() - $('#banner-carousel').height());
        $('#banner-carousel').css('height', Math.min($(window).height() - $(".section:first").outerHeight(), $(window).height()*0.5));
        $(".row").css('min-height', $(window).height() - $('#banner-carousel').height());
        $('#info-modal .modal-dialog').width(0.9*$(window).width());
        $('#info-modal .modal-body').css('max-height',0.9*$(window).height() - 60);
    }

    /**
     * jQuery.rand v1.0
     *
     * Randomly filters any number of elements from a jQuery set.
     *
     * MIT License: @link http://www.afekenholm.se/license.txt
     *
     * @author: Alexander Wallin (http://www.afekenholm.se)
     * @version: 1.0
     * @url: http://www.afekenholm.se/jquery-rand
     */
    (function ($) {
        $.fn.rand = function (k) {
            var b = this,
                    n = b.size(), k = k ? parseInt(k) : 1;

            // Special cases
            if (k > n) return b.pushStack(b);
            else if (k == 1) return b.filter(":eq("
                    + Math.floor(Math.random() * n) + ")");

            // Create a randomized copy of the set of elements,
            // using Fisher-Yates sorting
            r = b.get();
            for (var i = 0; i < n - 1; i++) {
                var swap = Math.floor(Math.random() * (n - i)) + i;
                r[swap] = r.splice(i, 1, r[swap])[0];
            }
            r = r.slice(0, k);

            // Finally, filter jQuery stack
            return b.filter(function (i) {
                return $.inArray(b.get(i), r) > -1;
            });
        };
    })(jQuery);
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61292123-2', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
