{% extends "base-blank.html" %}

{% block tail_head %}
{% endblock %}

{% block content %}

    <div id="banner-carousel" class="carousel carousel-fade slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/corral-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/cot-1.JPG" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/fish-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/fish-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/fish-3.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/fish-4.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/fish-5.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/jelly-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/seahorse-1.jpg" alt="">
            </div>
            <!--
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/sharks-1.jpg" alt="">
            </div>
            -->
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/thingy-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}images/banner/turtle-1.jpg" alt="">
            </div>

        </div>
        <div id="sitetitle">
            {% if citizen_project %}
            <p>project#: {{ citizen_project }}</p>
            {% endif %}
            <h1><i class="icon-edit-sign"></i> squidle</h1>
            <p>explore &#8226; annotate &#8226; interpret &#8226; marine imagery</p>
        </div>
    </div>



    <div id="content" class="container" style="background-color: #131313; margin: 0; padding: 0;">
    <div class="row">
        <div class="col-sm-3 section">
            <a class="well" href="#" onclick="showInfoModal('about.html','About the Project')">
                <i class="icon-info-sign section-head"> About the Project</i>
                What is this all about? Who is involved? Why should you care?
                <span class="section-moreinfo"><i class="icon-chevron-sign-right"></i> Click for more</span>
            </a>
        </div>
        <div class="col-sm-3 section">
            <a class="well" href="#" onclick="showInfoModal('howto.html', 'How to...')">
                <i class="icon-hand-up section-head"> How to...</i>
                Tutorials and videos that provide useful tips on how to use the system.
                <span class="section-moreinfo"><i class="icon-chevron-sign-right"></i> Click for more</span>
            </a>
        </div>
        <div class="col-sm-3 section">
            <a class="well" href="#" onclick="showInfoModal('what-next.html','What next?')">
                <i class="icon-magic section-head"> What next?</i>
                Learn about some of the magic that this project is working towards. Automated tools designed to make life easier.
                <span class="section-moreinfo"><i class="icon-chevron-sign-right"></i> Click for more</span>
            </a>
        </div>
        <div class="col-sm-3 section">
            {% if user.is_authenticated %}
            <a class="well emph" href="viewproject">
                <i class="icon-tags section-head"> Get started!</i>
                Welcome back {{ user.username }}!<br>
                Jump straight to working with the data using the annotation interface.
                <span class="section-moreinfo"><i class="icon-chevron-sign-right"></i> Click to start</span>
            </a>
            {% else %}
            <a class="well emph" href="#sign-in-modal"  data-toggle="modal">
                <i class="icon-tags section-head"> <b>Get started!</b></i>
                Click here to log in or sign up and jump straight into labeling seafloor images!
                <span class="section-moreinfo"><i class="icon-chevron-sign-right"></i> Click to start</span>
            </a>
            {% endif %}
        </div>

    </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 840px">
            <div class="modal-content" >
                <div class="modal-header">
                    <a class="pull-right modal-close" href="javascript:void(0)" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
                    <h1 class="modal-title"></h1>
                </div>
                <div class="modal-body" >

                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}


{% block add_script %}
<script src="{{ STATIC_URL }}assets/js/default.js"></script>
{% include "webinterface/subtemplates/useraccount-modal.html" %}
{% if citizen_project == "" %}
    <div class="alert alert-danger" style="margin: 0; position: absolute; top:0; left: 0; width: 100%; opacity:0.8; filter:alpha(opacity=80); z-index:999;"><b><i class="icon-cogs"></i>
        UNDER CONSTRUCTION:</b> Please note that this website is currently under construction.
    </div>
{% else %}
    {% include "webinterface/subtemplates/citizen-science-info.html" %}
{% endif %}



<script>

    var curstate = {
        isloggedin: ('{{ user.is_authenticated }}'=='True'),
        userid: ('{{ user.id }}'=='None') ? 0 : {{ user.id }},
        username: '{{ user.username }}',
        loginfuncs: [],   // functions to execute when a user is logged in
        citizen_project: '{{ citizen_project }}',
        htmldir: '{{ STATIC_URL }}html/'
    }


    curstate.loginfuncs.push(function(id, username) {
        window.location.replace("viewproject");
    });

    if (curstate.citizen_project != "") curstate.htmldir = '{{ STATIC_URL }}citizenscience_projects/'+curstate.citizen_project+'/';

    $(document).ready(function () {
        $('#banner-carousel .item').rand(1).addClass('active');
        setHeights();
        $('#banner-carousel').carousel({
            interval: 7000,
            pause: "false"
        });
    });

    $(window).resize(function () {
        setHeights();
    });

    function showInfoModal(src,title) {
        $('#info-modal .modal-body').html('');
        $('#info-modal .modal-body').load(curstate.htmldir+src);
        $('#info-modal .modal-title').html(title);
        $('#info-modal').modal('show');
    }


    function setHeights() {
        //var banner_height = 0.5;
        //$('#banner-carousel').css('max-height', Math.min($(window).height() * banner_height, $('#banner-carousel .item:first').height()));
        //$("#content").css('min-height', $(window).height() - $('#banner-carousel').height());
        $('#banner-carousel').css('height', Math.min($(window).height() - $(".section:first").outerHeight(), $(window).height()*0.5));
        $(".row").css('min-height', $(window).height() - $('#banner-carousel').height());
        $('#info-modal .modal-dialog').width(0.9*$(window).width());
        $('#info-modal .modal-body').css('max-height',0.9*$(window).height() - 60);
    }

    /**
     * jQuery.rand v1.0
     *
     * Randomly filters any number of elements from a jQuery set.
     *
     * MIT License: @link http://www.afekenholm.se/license.txt
     *
     * @author: Alexander Wallin (http://www.afekenholm.se)
     * @version: 1.0
     * @url: http://www.afekenholm.se/jquery-rand
     */
    (function ($) {
        $.fn.rand = function (k) {
            var b = this,
                    n = b.size(), k = k ? parseInt(k) : 1;

            // Special cases
            if (k > n) return b.pushStack(b);
            else if (k == 1) return b.filter(":eq("
                    + Math.floor(Math.random() * n) + ")");

            // Create a randomized copy of the set of elements,
            // using Fisher-Yates sorting
            r = b.get();
            for (var i = 0; i < n - 1; i++) {
                var swap = Math.floor(Math.random() * (n - i)) + i;
                r[swap] = r.splice(i, 1, r[swap])[0];
            }
            r = r.slice(0, k);

            // Finally, filter jQuery stack
            return b.filter(function (i) {
                return $.inArray(b.get(i), r) > -1;
            });
        };
    })(jQuery);
</script>
{% endblock %}
