{% extends "base-blank.html" %}

{% block tail_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/thumbnail-expgrid/css/component.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/catami-api/css/map.css" />
	<!-- Add fancyBox main JS and CSS files -->
    <script src="{{ STATIC_URL }}assets/thumbnail-expgrid/js/modernizr.custom.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}assets/css/modals.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}assets/chosen_v1.1.0/chosen.css" />

{#    <link rel="stylesheet" type="text/css" href="http://jautochecklist.googlecode.com/svn/release/css/jAutochecklist.min.css?v=1.21"/>#}
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/bootstrap/css/bootstrap-multiselect.css" type="text/css">


{% endblock %}

{% block content %}
<nav id="top-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a id="nav-icon-link" class="navbar-brand" href="javascript:void(0)" title="Reset view"><i id="nav-icon"  class="icon-edit-sign"></i></a>
    <ul class="nav navbar-nav">
        <li class="divider-vertical"></li>
        <!--<li><a title="View Map interface" href="javascript:void(0)" onclick="show_note('WIP','The map is still a WIP','success',true)"><i class="icon-globe"></i></a></li>-->
        <li title="View Map" class="icon-text"><a id="map-nav" href="#map" data-toggle="tab" ><i class="icon-globe"></i>Map</a></li>
        <li title="View Images for selected dataset" class="icon-text"><a id="image-nav" href="#thm" data-toggle="tab"><i class="icon-picture"></i>Images</a></li>
        <!--<li title="Manage Datasets" class="icon-text"><a href="javascript:void(0)" onclick="$('#data-modal').modal('show')"><i class="icon-th-list"></i>Data</a></li>-->
        {% if citizen_project == "" %}
        <li title="Data tools for selected dataset" class="icon-text"><a id="data-nav" href="#datatab" data-toggle="tab"><i class="icon-th-list"></i>Data</a></li>
        <li class="dropdown"><a id="datasel" href="#" class="dropdown-toggle" data-toggle="dropdown">No dataset selected <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" onclick="$('#dataset-modal').modal('show')"><i class="icon-th-list"></i>
                    Manage / select datasets</a></li>
                <li><a href="javascript:void(0)" onclick="window.location.assign('/viewproject')"><i class="icon-plus"></i> Create new Project</a></li>
                {#TODO: needs to update clid and wsid in workset modals before these will work... curently only updates when management modal is opened#}
                {% if clid %}
                    <li><a href='javascript:void(0)' data-toggle='modal' data-target='#dataset-new-workset'><i class="icon-plus"></i> Create new Subset in current Project</a></li>
                {% endif %}
                {% if wsid %}
                    <li><a href='javascript:void(0)' data-toggle='modal' data-target='#dataset-new-annotationset'><i class="icon-plus"></i> Create new AnnotationSet in current Subset</a></li>
                {% endif %}
            </ul>
        </li>
        {% else %}
        <li class="dropdown"><a id="datasel" href="#" class="dropdown-toggle" data-toggle="dropdown">PROJECT: {{ citizen_project }}</a>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" onclick="runTutorial(5)" ><i class="icon-info-sign"></i> Rerun the Tutorial</a></li>
            <li><a href="viewproject" ><i class="icon-refresh"></i> Load a new dataset</a></li>
            <li><a href="." ><i class="icon-home"></i> Go back to the Home Page</a></li>
        </ul></li>
        <li class="icon-text"><a id="label-info" href="javascript:void(0)"></a></li>
        {% endif %}
    </ul>

    <ul id="sign-in-status"  class="nav navbar-nav navbar-right">

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <!--<li title="Bug/Feature report"><a href="#info-modal" data-toggle="modal"><i class="icon-bug"></i></a></li>-->
        <li title="Info/about"><a href="javascript:void(0)" onclick="showInfoModal(curstate.htmldir+'about.html','About the Project')"><i class="icon-info-sign"></i></a></li>
        <li title="Help/How to"><a href="javascript:void(0)" onclick="showInfoModal(curstate.htmldir+'tutorial.html','Instructions/help')" ><i class="icon-question-sign"></i></a></li>
    </ul>
</nav>



<div class="container">
{#	{% if citizen_project == "" %}#}
{#    <div id="alert-construction" class="alert alert-danger alert-dismissable" style="position:absolute; top:0; left:0px; z-index:999; visibility: hidden;" >#}
{#		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
{#		<i class="icon-cogs"></i>&nbsp;<b>UNDER CONSTRUCTION:</b> Click <a href="#info-modal" data-toggle="modal" class="alert-link">here</a> for more information.#}
{#	</div>#}
{#    {% endif %}#}
    <div id="main-tabs"  class="tab-content">
        <div class="tab-pane tab-main" id="map" data-isloaded="">
        	<div id='deployment-map'></div>
            <div id="map-panel-container">
                <div id="map-panel">
                </div>
            </div>
        </div>
        <div class="tab-pane tab-main main" id="thm" data-isloaded="">
            <ul id="og-grid-0" class="og-grid"></ul>
        </div>
        <div class="tab-pane tab-main main" id="datatab" data-isloaded="">
            {% include "webinterface/subtemplates/dataset-tab.html" %}
        </div>
    </div>
</div>



    {% include "webinterface/subtemplates/useraccount-modal.html" %}
    {% include "webinterface/subtemplates/info-modal.html" %}
{#    {% if citizen_project == "" %}#}
        {% include "webinterface/subtemplates/dataset-modal.html" %}
{#    {% endif %}#}
{#    {% include "webinterface/subtemplates/help-modal.html" %}#}
{% endblock %}




{% block add_script %}
<script type="text/javascript" src="{{ STATIC_URL }}assets/catami-api/js/images.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/plugins/serialize-object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/catami-api/js/annotations.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/catami-api/js/collections.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/catami-api/js/squidle.api.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/jquery/plugins/delayed-keyup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
<script src="{{ STATIC_URL }}assets/thumbnail-expgrid/js/grid.js"></script>
<script src="{{ STATIC_URL }}assets/js/default.js"></script>

<script src="{{ STATIC_URL }}assets/image-manipulation/pixastic.custom.js"></script>
{#<script src="http://jautochecklist.googlecode.com/svn/release/js/jAutochecklist.min.js?v=1.21"></script>#}
<script type="text/javascript" src="{{ STATIC_URL }}assets/bootstrap/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}assets/chosen_v1.1.0/chosen.jquery.js"></script>


<script src="{{ STATIC_URL }}assets/openlayers/OpenLayers.js"></script>
<script src="{{ STATIC_URL }}assets/OpenLayers/LoadingPanel.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
{#<script src='{{ STATIC_URL }}assets/catami-api/js/Map.js'></script>#}
<script src='{{ STATIC_URL }}assets/catami-api/js/map-ui.js'></script>
<script src="{{ STATIC_URL }}assets/js/labelinfo.js"></script>



<script type="text/javascript">

    var curstate = {
        clid: {{ clid }},
        wsid: {{ wsid }},
        asid: {{ asid }},
        imid: {{ imid }},
        imid_ui: function () {return (curstate.imid) ? '#img-'+curstate.imid : ''},
        nimgs: Math.floor($( '#main-tabs' ).innerWidth()/110)*(Math.floor($(window).innerHeight()/86)+1),
        isloggedin: ('{{ user.is_authenticated }}'=='True'),
        userid: ('{{ user.id }}'=='None') ? 0 : {{ user.id }},
        username: '{{ user.username }}',
        loginfuncs: [],   // functions to execute when a user is logged in
        citizen_project: '{{ citizen_project }}',
        htmldir: ('{{ citizen_project }}' =='') ? '{{ STATIC_URL }}html/' : '{{ STATIC_URL }}citizenscience_projects/{{ citizen_project }}/'
    }

    var filters = {
        mapfilter : {},
        imgfilter : ''
    }

    var thlist = new ImagesAPI({});
    var apiobj = new SquidleAPI({});
    var tagsettings = {};
    if (curstate.citizen_project != '') {
        tagsettings = {api_tag_baseurl: "citizenscience_labels"};
        $("#label-info").update_mylabelstatus(10000);
    }

    var taglist = new AnnotationAPI(tagsettings);

    var clobj = new CollectionAPI({config: {format: '<b>{name}</b><br>Created by <b>{username}</b> on <b>{creation_date}</b>.<br>{creation_info}<br><em>{description}</em>'}});
    var asobj = new AnnotationSetAPI({config:{format: '<b>{name}</b><br>Created by <b>{owner}</b><br>Count: {count}<br>Method: {methodology}'}});
    var thmgrid = new Grid('#og-grid-0',curstate);
    var map = new BaseMap('{{ GEOSERVER_URL }}', '{% url "webinterface.views.get_multiple_deployment_extent" %}', '{% url "webinterface.views.get_collection_extent" %}', curstate);



    // scrolling can generate a lot of events and cause a performance hit
    // buffer to process one event per some interval of time.
    var _scrollbuffer = null;
    var scrollfuncs = [];
    $(window).scroll(function (e) {
        if ( !_scrollbuffer ) {
            _scrollbuffer = setTimeout(function () {
                _scrollbuffer = null;
                for (var i= 0;i<scrollfuncs.length;i++)
                    scrollfuncs[i]();
            }, 500);
        }
    });


    var resizefuncs = [];
    $(window).resize(function () {
        // do stuff on resize
        for (var i= 0;i<resizefuncs.length;i++)
            resizefuncs[i]();
    });

    // Add function to update the UI once logged in
    curstate.loginfuncs.push(function(id, username) {
        curstate.userid = id;
        curstate.isloggedin = (id) ? true : false;
        curstate.username = username;
        if (curstate.isloggedin) {
            $('#sign-in-status').html('<li class="icon-text"><a title="Currently signed in" href="#user-modal" data-toggle="modal"><i class="icon-user"></i>'+username+'</a></li>');
            //$('#sign-in-status').append('<li class="icon-text"><a title="Sign out!" href="{% url "userena_signout" %}"><i class="icon-ban-circle"></i>Log&nbsp;out</a></li>');
        }
        else {
            $('#sign-in-status').html('<li class="icon-text"><a title="Sign in" href="#sign-in-modal" data-toggle="modal"><i class="icon-user ui-state-error-text"></i>Log&nbsp;in</a></li>');
        }
        $('#sign-in-status>li>a').tooltip({trigger:'hover',placement:'bottom'});
    });





    $(document).ready(function () {
        update_sign_in(curstate.userid,curstate.username); //initialise sign in variables
        setupAjax(); // setup ajax auth
        //createDataModal(curstate); // setup modal windows for data
        //refresh_dataset_modal();
        init_data_modals(curstate, map);

        // This resizes the size of the panel containing the map.
        // Set it once on ready and then subscribe to resizes
        $('#deployment-map').width( $(window).width()-$('#map-panel-container').width() );
        resizefuncs.push( function() {
            $('#deployment-map').width( $(window).width()-$('#map-panel-container').width() );
        });

        // Set the location of the under construction alert.
        // And subscribe to the resize
        $('#alert-construction').css( 'left', $('#deployment-map').width()/2-$('#alert-construction').width()/2 + 'px');
        $('#alert-construction').css( 'visibility', 'visible');
        resizefuncs.push( function() {
            $('#alert-construction').css( 'left', $('#deployment-map').width()/2-$('#alert-construction').width()/2 + 'px');
        });

        // TODO: The subtraction of 10 is due to the top and bottom margins. Get this from the element dynamically
        $('.chosen-drop').css('max-height', $('#map-panel-container').height()-10+'px');
        resizefuncs.push(function () {
            $('.chosen-drop').css('max-height', $('#map-panel-container').height()-10+'px');
        });


        // Update current selection text
        if (curstate.clid) {
            $('#datasel').html(apiobj.getJsItems("collection","?id="+curstate.clid)[0].name);
            if (curstate.wsid) $('#datasel').append(' <b style="color:red">|</b> ' + apiobj.getJsItems("collection","?id="+curstate.wsid)[0].name);
            if (curstate.asid) $('#datasel').append(' <b style="color:red">|</b> ' + apiobj.getJsItems("point_annotation_set","?id="+curstate.asid)[0].name);
            $('#datasel').append(' <b class="caret"></b>');
        }

        if (curstate.citizen_project != "")
            showInfoModal(curstate.htmldir+'tutorial.html','Instructions',false);
            //runTutorial(60);

        // Do stuff on showing of map
        $('#map-nav').on('shown.bs.tab', function (e) {
            history.replaceState(null, '', e.target);
            $('#nav-icon-link').unbind('click').bind('click',function() {map.updateMapBounds("collection_id="+curstate.clid, map.collectionExtentUrl)});
            if ($('#map').data('isloaded')==''){
                //map = new BaseMap("{{ GEOSERVER_URL }}", '#deployment-map', '{% url "webinterface.views.get_multiple_deployment_extent" %}', '{% url "webinterface.views.get_collection_extent" %}', curstate);
                map.addInfoPane($('#map'), 'mapinfo');
                map.init($('#deployment-map'),$('#map-panel'));
                $('#map').data('isloaded', true);
                //map.setFullHeight($('#deployment-map'));
                if (curstate.clid) { // Info mode
                    map.updateMapForCollection(curstate.clid, 'Project', {markercol: "0000FF", markersize: 2, isclickable: false});
                    var $clinfo = map.addPanel($('#map-panel'), {id: 'map-clinfo', icon: 'icon-info', title: 'Project info', closeable: false});
                    clobj.getCollectionInfo(curstate.clid, $clinfo);
                    if (curstate.wsid) {
                        map.updateMapForCollection(curstate.wsid, 'Subset', {markercol:"FF0000", markersize:9, isclickable:true});
                        map.updateMapBounds("collection_id=" + curstate.wsid, map.collectionExtentUrl);
                        var $wsinfo = map.addPanel($('#map-panel'), {id: 'map-wsinfo', icon: 'icon-info', title: 'Subset info', closeable: false});
                        clobj.getCollectionInfo(curstate.wsid, $wsinfo);
                        if (curstate.asid) {
                            var $asinfo = map.addPanel($('#map-panel'), {id: 'map-asinfo', icon: 'icon-info', title: 'Annotation info', closeable: false});
                            asobj.getAnnotationInfo(curstate.asid, $asinfo);
                        }
                    }
                    else {
                        map.updateMapBounds("collection_id=" + curstate.clid, map.collectionExtentUrl);
                    }
                }
                else { // Explore mode

                    var depLayer 		= "Deployment origins",
                    	depImageLayer 	= "Deployment images",
                        selImageLayer 	= "Selected images",
						filtImageLayer	= "Filtered images";
					var minVisibleScale = 100000;

                    // TODO: This is a mess - needs fixing!
					map.depImageLayerName = depImageLayer;  // TODO: this is bad
					map.selImageLayerName = selImageLayer;  // TODO: this is bad
					map.filtImageLayerName = filtImageLayer;  // TODO: this is bad
                    map.addDeployments(depLayer);
					map.addImageLayer(depImageLayer,  minVisibleScale, true, '666666', true);
                    map.addImageLayer(selImageLayer,  minVisibleScale/3, false, '0000FF'); // For the sake of performance we show this layer only when zoomed in further
                    map.addImageLayer(filtImageLayer, minVisibleScale, false, '00FF00');



                    // Create panels
                    var $selpanel = map.addPanel($('#map-panel'), {id: 'mapsel', icon: 'icon-plus-sign-alt', title: 'Selection tools', closeable: false});
                    var $filterpanel = map.addPanel($('#map-panel'), {id: 'mapfilters', icon: 'icon-filter', title: 'Filters', closeable: false}, 'max-height: none; overflow-x: hidden; overflow-y:hidden;');
                    var $curselpanel = map.addPanel($('#map-panel'), {id: 'mapselected', icon: 'icon-info', title: 'Info', closeable: false});

					// Add selection tools
					map.addDeploymentSelectChosen($selpanel, $curselpanel, depImageLayer);

					// Add filters
                    map.addRangeFilter($filterpanel, $filterpanel, filtImageLayer, 'depth', {step: 1, range: [0, 2000], unit: 'm'});
                    map.addRangeFilter($filterpanel, $filterpanel, filtImageLayer, 'altitude', {step: 0.1, range: [0, 10], unit: 'm'});
                    map.addDateFilter( $filterpanel, $filterpanel, filtImageLayer, 'date_time', {from: '2005-01-01', to: new Date()});
                    map.addBBoxFilter( $filterpanel, $filterpanel, filtImageLayer);
					map.$filterpanel = $filterpanel; // TODO: this is bad
					map.disableFilters();
					
                    // add current selection info
                    map.addSelectionInfo($curselpanel,$("#dataset-new-collection"));
                    map.updateSelectionInfo();
                    curstate.loginfuncs.push(map.updateSelectionInfo);
                }

                // Add resize function to ensure map resizes on window resize
                resizefuncs.push(function() {
                    // size map
                    map.setFullHeight();
                });
            }
            if (curstate.imid) map.updateMapForSelectedImage(curstate.imid);
        });

        // Do stuff on showing of thumbnails
        $('#image-nav').on('shown.bs.tab', function (e) {
            history.replaceState(null, '', e.target);
            $('#nav-icon-link').unbind('click').bind('click',function() {thmgrid.scrollToCurrentPreview()});
            if ($('#thm').data('isloaded')==''){
                var clid_thm = (curstate.wsid) ? curstate.wsid : curstate.clid;
                var imgfilter = 'order_by=id&collection=' + clid_thm +'&limit=' + curstate.nimgs;
                if (curstate.asid) imgfilter += '&annotation_label_ne=1&annotation_set='+curstate.asid;

                thlist.setFormat('<li class="thm"><a id="img-{id}" class="thm-link" href="?clid='+curstate.clid+'&wsid='+curstate.wsid+'&asid='+curstate.asid+'&imid={id}#thm" data-largesrc="{web_location}" data-id="{id}" data-description="annotation tools and image information" data-annotation_labelled_count="{annotation_labelled_count}" data-annotation_count="{annotation_count}"><img src="{thumbnail_location}" alt="{id}"/></a></li>');

                thmgrid.init(); // initialise thumbnail grid
                thmgrid.addItems( $(thlist.getThumnailList(imgfilter, true)), $( '#og-grid-0' ));
                //while (nimgloads++ < maximgloads && !$(imid_open).length) {
                //    thmgrid.addItems( $(thlist.getThumnailList(thlist.meta.next, false)), $( '#og-grid-0' ));
                //}

                // add scroll function to scrollfuncs array to enable infinite scrolling
                scrollfuncs.push(function(){
                    // Infinite scrolling for automatic thumbnail loading
                    // TODO: fix performance issues with lots of images
                    if (isInView(thmgrid.$loaderdiv) && thlist.meta.next!= null) {
                        thmgrid.addItems( $(thlist.getThumnailList(thlist.meta.next, false)), $( '#og-grid-0' ));
                    }
                });

                $('#thm').data('isloaded',true);
            }
            else {
                if ('#'+$('.og-expanded > a').attr('id') != curstate.imid_ui())
                    $(curstate.imid_ui()).trigger('click');
                else
                    thmgrid.scrollToCurrentPreview();
            }
        });


        $('#data-nav').on('shown.bs.tab', function (e) {
            history.replaceState(null, '', e.target);

        });

        // Activate tabs from anchor in url links
        if (window.location.hash.length > 0) {
            if ($(window.location.hash).hasClass('tab-pane')) $('li > a[href="' + window.location.hash + '"]').tab('show');
            //else if ($(window.location.hash).hasClass('modal')) $(window.location.hash).modal('show');
        } else {
            if (curstate.citizen_project == "") $('#map-nav').tab('show'); // default to map tab
            else  $('#image-nav').tab('show');
        }



    });


    function showLoader() {
        $('#nav-icon').removeClass('icon-edit-sign').addClass('icon-spin icon-spinner red');
        thmgrid.$loaderdiv.html('Loading images...');

    }
    function hideLoader() {
        $('#nav-icon').removeClass('icon-spin icon-spinner red').addClass('icon-edit-sign');
        thmgrid.$loaderdiv.html('');
    }



    function runTutorial(retry) {
        var currentbadgescore = $("#label-info").data("badge")[0];
        var tuteitems = [
            {
                el: $(".annotation-point:nth-of-type(1)"),
                options: {content: "Click this point to select it. <b>Note the zoom tool on the bottom right helps to magnify the point under your cursor.</b>", placement: "right", html: true}
            },{
                el: $("#imganot"),
                options: {content:"Click a label that best describes what is directly under the point you just clicked.",placement:"left",html:true}
            },{
                el: $(".annotation-point:nth-of-type(2)"),
                options: {content:"Click another point to label",placement:"right",html:true}
            },{
                el: $("#imganot"),
                options: {content:"Choose the label that best describes what is directly under this new point.",placement:"left",html:true}
            },{
                el: $(".og-active-thm>.og-annotation-count"),
                options: {content:"This number indicates how many points you have labeled in the image. Keep labeling points until the number turns green. <b>Label another point to hide this hint.</b>",placement:"right",html:true},
                clearel: $("body")
            },{
                el: $('#btn-nextim'),
                options: {content: "<b>Congratulations!</b> You have labeled all the points in this image, click the right arrow to move to the next image.", placement: "left", html: true},
                clearel: $('#btn-nextim'),
                showfnc: function () {return $('.og-expanded').find('a.thm-link').data("annotation_labelled_count") == $(".annotation-point").length}
            }
            /*
            ,{
                el: $('#label-info>a'),
                options: {content: "<b>Your Status Ranking has increased! Keep labelling to move though the ranks. <b>Label another point to hide this hint.</b>", placement: "bottom", html: true},
                clearel: $("body"),
                showfnc: function () {return currentbadgescore != $("#label-info").data("badge")[0]}
            }
            /*
            ,{
                el: $('.og-navbar'),
                options: {content: "<b>Well done!</b> You are doing well - you are up to your 5th image! Keep this up and you may win the ipad!", placement: "left", html: true},
                clearel: $("body"),
                showfnc: function () {return $(".thm").index($(".og-expanded")) >= 4}
            }
            */
        ];

        if (tuteitems[0].el.length <= 0 && retry > 0) {
            setTimeout(function(){runTutorial(retry-1)}, 500);
            console.log("Not loaded yet... retries left: "+(retry-1))
        }
        else
            showTuteItem(tuteitems, 0);
    }

    function showTuteItem(tuteitems, i) {
        var $item = tuteitems[i].el,
            popupopts = tuteitems[i].options,
            $clearitem = (tuteitems[i].hasOwnProperty("clearel")) ? tuteitems[i].clearel : $item,
            showfnc = (tuteitems[i].hasOwnProperty("showfnc")) ? tuteitems[i].showfnc : function(){return true};

        if (showfnc()) {
            $("body").unbind('click');
            popupopts.trigger = "manual";
            popupopts.template = '<div class="popover tutorial" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>';
            popupopts.title = "Tutorial hint " + (i + 1) + "/" + tuteitems.length;
            $item.on('remove', function(){$item.popover("destroy")});
            $item.popover(popupopts).popover('show');
            setTimeout(function () {
                $clearitem.bind('click', function (event) {
                    $item.popover('destroy');
                    $(this).unbind(event);
                    if ((i+1 < tuteitems.length)) {
                        if (tuteitems[i + 1].hasOwnProperty("showfnc")) {
                            $("body").bind('click', function (event) {
                                setTimeout(function(){showTuteItem(tuteitems, i + 1)},1000);
                            });
                            //console.log("bind click");
                        }
                        showTuteItem(tuteitems, i + 1); // show next item if not last
                    }
                });
            }, 100);
            //console.log("Show function")
        }
        //console.log("Show item: "+i);
    }


</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61292123-2', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
