<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="citizen-project-info">
    <div class="citizen-label-info"></div>
    have been tagged so far thanks to citizen scientists like YOU!
    We still need many more. Click "Get Started!" to help out...
    <br><br><br>
    <div class="fb-like" data-href="http://helpscience.marine.acfr.usyd.edu.au/" data-width="100" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>


<script type="text/javascript">
    get_project_info($("#citizen-project-info>.citizen-label-info"));

    function get_project_info($element) {
        $.ajax({
            dataType: "json",
            async: true,
            url: "get_annotation_info",
            success: function (data) {
                console.log(data);
                //if (data.length > 0)
                $element.append('<div class="labelcount" title="from '+data.pointcount+' points in '+data.annotation_sets+' sets"><i class="icon-tags"></i> '+
                        data.labelcount+' labels</div>  ');

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest);
            }
        });
    }

</script>
