{% load bootstrap_toolkit %}

<!-------------------------------------------------------------
Dataset browser modal
-------------------------------------------------------------->
<div class="modal fade" id="data-modal" tabindex="-1" role="dialog" aria-labelledby="data-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h4><i class="icon-th-list"></i> Manage datasets</h4>
                <ul class="breadcrumb" id="data-modal-cursel"><li>Select a dataset below:</li></ul>
            </div>
            <div class="modal-body">
                <div class="modal-panel-container">
                    <!-- This is populated dynamically through jquery -->
                </div>
            </div>
            <div class="modal-footer" style="text-align: left">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="data-modal-btn" type="submit" class="btn btn-primary pull-right disabled" onclick="updateDatasets()">Select dataset</button>
                <span id="data-modal-msg" class="alert alert-danger pull-right" style="padding: 8px"><b>Warning:</b> no Project selected...</span>
            </div>
        </div>
    </div>
</div>






<div id="sign-in-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4><i class="icon-user"></i> Signin</h4>
            </div>

            <div class="modal-body">
                <form action="" method="post" id="aform" class="form-horizontal" >
                    <span id="errors"></span>
                    {% csrf_token %}
                    {{ aform|as_bootstrap }}

                    <br>
                    <a class="btn btn-default" aria-hidden="true" data-dismiss="modal" onclick="clear_form('#aform');">Cancel</a>
                    <a class="btn btn-info" aria-hidden="true" data-dismiss="modal" onclick="$('#sign-up-modal').modal('show');"><i class="icon-plus"></i> Create new account</a>
                    <input class="btn btn-primary pull-right" type="submit" value="Sign in" onclick="send_signin('#aform'); return false;">
                </form>

            </div>
        </div>
    </div>
</div>

{% load i18n %}


<div id="sign-up-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4><i class="icon-user"></i> Sign up</h4>
            </div>

            <div class="modal-body">

                <form action="" method="post" id="suform" class="form-horizontal" >
                    <span id="errors"></span>
                    {% csrf_token %}
                    {{ suform|as_bootstrap }}
                    <br>
                    <a class="btn btn-default" aria-hidden="true" data-dismiss="modal" onclick="clear_form('#suform');">Cancel</a>
                    <input class="btn btn-primary pull-right" type="submit" value="Sign up" onclick="send_signup('#suform');return false;">
                </form>

            </div>
        </div>
    </div>
</div>

<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><i class="icon-user"></i> My account</h4>
            </div>
            <div class="modal-body">
                <br><br><b>NOTE:</b> this modal will contain user information and account tools<br><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info">Edit account details</button>
                <a href="{% url "userena_signout" %}" class="btn btn-danger">Log out!</a>
            </div>
        </div>
    </div>
</div>


<!-------------------------------------------------------------
Tag-example browser modal
-------------------------------------------------------------->
<div class="modal fade" id="tag-example-modal" tabindex="-1" role="dialog" aria-labelledby="data-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h4><i class="icon-tags"></i> Tag examples</h4>
            </div>
            <div class="modal-body">
                <!-- This is populated dynamically through jquery -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
{#                <button type="submit" class="btn btn-primary" onclick="updateDatasets()">Update selection</button>#}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

/**********************************************************************
 * Data modal window functions
 **********************************************************************/

var modalstate = {};


function updateCollections() {
    var cllist = new CollectionAPI({
        config: {
            format: '<div id="cl-{id}" class="panel-item"><a href="javascript:void(0)" class="dm-popover badge" onclick="selectCollection({id})" data-content="<small>ID: {id}<br>Created by <b>{username}</b> on <b>{creation_date}</b>.<br>{creation_info}<br><em>{description}</em></small>" data-original-title="{type} information">{name}</a></div>'
        }
    });
    $('#dm-ws').remove();
    $('#dm-as').remove();
    addModalPanel('dm-cl','<div class="panel-list"></div>','Projects','Datasets containing selected images of interest');
    cllist.getCollectionItems('limit=0&parent__isnull=True&order_by=name', '#dm-cl>.panel-list');
    if (!$('#new-cl-btn').length) $('#dm-cl').append('<button id="new-cl-btn" class="btn badge btn-default" type="button" onclick="openNewCollectionModalWindow()"><i class="icon-plus-sign"></i> New Project</button>');
    $('#dm-cl .dm-popover').popover({trigger:'hover',placement:'leftTop',html:true,delay:300});
}
function selectCollection(clid) {
    var wslist = new CollectionAPI({
        config: {
            format: '<div id="ws-{id}" class="panel-item"><a href="javascript:void(0)" class="dm-popover badge" onclick="selectWorkset({id})" data-content="<small>ID: {id}<br>Created by <b>{username}</b> on <b>{creation_date}</b>.<br>{creation_info}<br><em>{description}</em></small>" data-original-title="{type} information">{name}</a></div>'
        }
    });
    $('#dm-as').remove();
    addModalPanel('dm-ws','<div class="panel-list"></div>','Subsets','Subset of images from a Project.');
    $("input[name*='c_id']").val(clid);
    //$('#id_c_id').each(function (i,el){$(el).attr('value',clid)});
    modalstate.clid=clid;
    modalstate.wsid = 0;
    modalstate.asid = 0;

    wslist.getCollectionItems('parent='+clid+'&limit=0&order_by=name', '#dm-ws>.panel-list');
    if (!$('#new-ws-btn').length) $('#dm-ws').append('<button id="new-ws-btn" class="btn badge btn-default" type="button" onclick="openNewWorksetModalWindow()"><i class="icon-plus-sign"></i> New Subset</button>');
    $('#dm-ws .dm-popover').popover({trigger:'hover',placement:'leftTop',html:true,delay:300});

    $('#dm-cl>.panel-list .active').removeClass('active');
    $('#cl-'+clid).find('a').addClass('active');
    $('#data-modal-msg').html('<b>Warning:</b> no Subset selected...').show();
    //$('#data-modal-btn').removeClass('btn-success');
    $('#data-modal-btn').removeClass('disabled');


    return $('#cl-'+clid).find('a').text();
}
function selectWorkset(wsid) {
    var aslist = new AnnotationSetAPI({
        config: {
            format: '<div id="as-{id}" class="panel-item"><a href="javascript:void(0)" class="dm-popover badge" onclick="selectAnnotationSet({id});" data-content="<small>Contains <b>{count}</b> random points.</small>" data-original-title="Annotation information">{name}</a></div>'
        }
    });
    addModalPanel('dm-as','<div class="panel-list"></div>','Annotations','The annotation style/method for a Subset.');
    aslist.getNewAnnotationSets('collection='+wsid,'#dm-as>.panel-list');
    if (!$('#new-as-btn').length) $('#dm-as').append('<button id="new-as-btn" class="btn badge btn-default" type="button" onclick="openNewAnnotationsetModal()"><i class="icon-plus-sign"></i> New Annotation run</button>')
    $('#dm-as .dm-popover').popover({trigger:'hover',placement:'leftTop',html:true,delay:300});
    $('#dm-ws>.panel-list .active').removeClass('active');
    $('#ws-'+wsid).find('a').addClass('active');
    modalstate.wsid=wsid;
    modalstate.asid = 0;
    $('#asform>#id_collection').attr('value','/api/dev/collection/'+wsid+'/');
    $('#data-modal-msg').html('<b>Warning:</b> no Annotation selected...').show();
    //$('#data-modal-btn').removeClass('btn-success');


    return $('#ws-'+wsid).find('a').text();
}
function selectAnnotationSet(asid) {
    $('#dm-as>.panel-list .active').removeClass('active');
    $('#as-'+asid).find('a').addClass('active');
    modalstate.asid=asid;
    $('#data-modal-msg').hide();
    //$('#data-modal-btn').addClass('btn-success');

    return $('#as-'+asid).find('a').text();
}
function updateDatasets() {
    window.location.replace("?clid="+modalstate.clid+'&wsid='+modalstate.wsid+'&asid='+modalstate.asid+window.location.hash);
    //window.location.replace("?clid="+modalstate.clid+'&wsid='+modalstate.wsid+'&asid='+modalstate.asid+'&imid='+modalstate.imid+window.location.hash);
}

function addModalPanel(panid,content,title,description) {
    if (!$('#'+panid).length) {
        $('.modal-panel-container').append('<div id="'+panid+'" class="modal-panel"></div>');
    }
    $('#'+panid).html('<h3>'+title+':</h3>');
    $('#'+panid).append('<div class="panel-desc">'+description+'</div>');
    $('#'+panid).append(content);

    fitModalPanels();
}
function fitModalPanels() {
    var panelextrawidth = $('.modal-panel').outerWidth(true) - $('.modal-panel').width();
    var panelheight = $(window).height()-350;
    //var panelextraheight = $('.modal-panel').outerHeight(true) - $('.modal-panel').height();
    $('.modal-panel').css('width', Math.floor($('.modal-panel-container').width()/$('.modal-panel').length-panelextrawidth)+'px');
    //$('.modal-panel-container').height($('.modal-panel-container').parent().height());
    //$('.modal-panel').css('height', Math.floor($('.modal-panel-container').height()-panelextraheight)+'px');
    $('.modal-panel .panel-list').css({'min-height':panelheight+'px','max-height':panelheight+'px',height:panelheight+'px'});
    //$('.modal-panel .panel-list').css({'max-height':panelheight+'px'});
}


function createDataModal(curstate) {

     $('#data-modal').on('hidden.bs.modal', function () {
         $('.modal-panel-container').html('');
         //$('body').removeClass('modal-open');
     });
     $('#data-modal').on('shown.bs.modal', function () {
         updateCollections();
         modalstate = jQuery.extend({}, curstate);
         if (curstate.clid) {
             $('#data-modal-cursel').html('<li class="active">'+selectCollection(curstate.clid)+'</li>');
             if (curstate.wsid) {
                $('#data-modal-cursel').append('<li class="active">'+selectWorkset(curstate.wsid)+'</li>');
                if (curstate.asid)
                    $('#data-modal-cursel').append('<li class="active">'+selectAnnotationSet(curstate.asid)+'</li>');
             }
         }

         //$('body').addClass('modal-open');
     });

     //updateDeploymentSelect($('#clform #id_deployment_ids'));
    //$("#id_deployment_ids").multiselect();
    $('#new-collection-modal').on('shown.bs.modal',function() {
         $("#clform input.btn").removeAttr('disabled');
         //$('body').addClass('modal-open');
     });

    /*$('#asform #id_methodology').change(function () {
        if ($(this).val() == 3) {
            $('#asform #id_count').val(9).prop('disabled', true);
        }
        else if ($(this).val() == 1 || $(this).val() == 2) {
            $('#asform #id_count').val(10);
            $('#asform #id_count').prop('disabled', false);
        }
        else {
            $('#asform #id_count').val(50);
            $('#asform #id_count').prop('disabled', false);
        }
    });
    */
}


/*
 NOTE: the JS in this sub-template is heavily tethered to the parent template
 TODO: figure out a better way to manage the JS in these situations
 */
function openNewWorksetModalWindow() {
    //modalstate.clid = $('#id_c_id').attr('value');
    $('#data-modal').modal('hide');
    $('#new-workset-modal').modal('show');
}

function openNewCollectionModalWindow() {
    //modalstate.clid = $('#id_c_id').attr('value');
    //$('#data-modal').modal('hide');
    //$('#new-collection-modal').modal('show');
    if (confirm('This will redirect you to the Project creation tab. Would you like to continue?')) {
        window.location.assign('/viewproject');
    }
}


function refresh_datasets(field, formid, id, msg, showmodal) {
    hide_busy();
    $(formid+" input.btn").removeAttr('disabled');
    if (id != null) {
        $('#new-workset-modal').modal('hide');
        $('#new-ulworkset-modal').modal('hide');
        $('#new-collection-modal').modal('hide');

        show_note('Success',msg,'success',true);
        clear_form (formid);
        curstate[field] = id;
        $('#data-modal').modal('show');
    } else {
        show_note('Error!',msg,'error');
    }
}




function showTagExampleModal(label) {
    label = label.split('/');
    label = label[label.length-2];

    var $modal_content = $('#tag-example-modal .modal-body');
    $modal_content.html('<i class="icon-spinner icon-spin icon-large"></i> Looking for images...');

    $.ajax({
        dataType: "json",
        async: true,  // prevent asyncronous mode to allow setting of variables within function
        url: '/api/dev/point_annotation/?label='+label,
        success: function (pt) {
            if (pt.objects.length > 0) {
                $modal_content.html('Showing '+pt.meta.limit+' of '+pt.meta.total_count+' example images:<br>');
                for (var i = 0; i < pt.objects.length; i++) {
                    $modal_content.append(pt.objects[i].image+', ');
                }
            }
            else {
                $modal_content.html('No example images found...');
            }
        }
    });

    $('#tag-example-modal').modal('show');
}




//NOTE: this is a simple ajax form that sends to the API
//TODO: API forms do not use django form validation and cannot deal with errors nicely with dajaxice - rethink!
function openNewAnnotationsetModal() {
    if (curstate.isloggedin) {
        //modalstate.clid = $('#id_c_id').attr('value');
        //modalstate.wsid = $('#asform>#id_collection').attr('value');
        $('#asform>#id_owner').val('/api/dev/users/'+modalstate.userid+'/');
        $('#data-modal').modal('hide');
        $('#new-annotationset-modal').modal('show');
    }
    else {
        show_note('Error: not logged in.','You need to login to work with annotation sets','error');
    }
}
function send_asform() {
    curstate.clid = modalstate.clid;
    curstate.wsid = modalstate.wsid;
    curstate.asid = 0;

    //console.log(JSON.stringify($('#asform').serializeObject()));
    $.ajax({
        url: '/api/dev/point_annotation_set/',
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify($('#asform').serializeObject()),
        success: function( data ) {
            //console.log(data);
            show_note('Success','Your annotation set has been created successfully!','success',true);
            $('#new-annotationset-modal').modal('hide');
            $('#data-modal').modal('show');
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest);
            //show_note('Error','There was an error: '+errorThrown, 'error');
            //console.log(textStatus);
            $('#new-annotationset-modal').modal('hide');
            $('#data-modal').modal('show');
            console.log(JSON.stringify($('#asform').serializeObject()));
        }
    });
}

function send_signin(){
    Dajaxice.webinterface.signin_form(Dajax.process,{'form':$('#aform').serialize(true)});
    return false;
}
function send_signup(){
    Dajaxice.webinterface.signup_form(Dajax.process,{'form':$('#suform').serialize(true)});
    return false;
}
function update_sign_in(id,username) {
    curstate.userid = id;
    curstate.isloggedin = (id) ? true : false;
    curstate.username = username;

    // execute functions requiring login
    for (var i=0 ; i< curstate.loginfuncs.length ; i++) {
        curstate.loginfuncs[i]();
    }


    if (curstate.isloggedin) {
        $('#sign-in-status').html('<li class="icon-text"><a title="Currently signed in" href="#user-modal" data-toggle="modal"><i class="icon-user"></i>'+username+'</a></li>');
        //$('#sign-in-status').append('<li class="icon-text"><a title="Sign out!" href="{% url "userena_signout" %}"><i class="icon-ban-circle"></i>Log&nbsp;out</a></li>');
    }
    else {
        $('#sign-in-status').html('<li class="icon-text"><a title="Sign in" href="#sign-in-modal" data-toggle="modal"><i class="icon-user ui-state-error-text"></i>Log&nbsp;in</a></li>');
    }
    $('#sign-in-status>li>a').tooltip({trigger:'hover',placement:'bottom'});

    $('#sign-in-modal').modal('hide');
    $('#sign-up-modal').modal('hide');
}
</script>