{% load bootstrap_toolkit %}
<!-------------------------------------------------------------
Sign in modal
-------------------------------------------------------------->
<div id="sign-in-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4><i class="icon-user"></i> Signin</h4>
            </div>

            <div class="modal-body">
                <p>If you already have a user account, please enter your details below. If you need to create a new account, click the "Sign Up" button.</p>
                <form action="" method="post" id="aform" class="form-horizontal" >
                    <span class="errors"></span>
                    {% csrf_token %}
                    {{ aform|as_bootstrap }}

                    <br>
                    <a class="btn btn-default" aria-hidden="true" data-dismiss="modal" onclick="clear_form(this.form);">Cancel</a>
                    <a class="btn btn-info" aria-hidden="true" data-dismiss="modal" onclick="$('#sign-up-modal').modal('show');"><i class="icon-plus"></i> I still need to Sign Up!</a>
                    <input class="btn btn-primary pull-right" type="submit" value="Sign in" onclick="send_signin('aform'); return false;">
                </form>

            </div>
        </div>
    </div>
</div>

{% load i18n %}


<div id="sign-up-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4><i class="icon-user"></i> Create an Account</h4>
            </div>

            <div class="modal-body">
                <p>Enter your details to create a new account. Your information will not be shared with anyone.
                   We just use it to track your progress and save your preferences. If you already have an account, <a href="javascript:void(0)" data-dismiss="modal" onclick="$('#sign-in-modal').modal('show');">click here to sign in.</a></p>
                <form action="" method="post" id="suform" class="form-horizontal" >
                    <span class="errors"></span>
                    {% csrf_token %}
                    {{ suform|as_bootstrap }}
                    <br>
                    <a class="btn btn-default" aria-hidden="true" data-dismiss="modal" onclick="clear_form(this.form);">Cancel</a>
                    <a class="btn btn-info" aria-hidden="true" data-dismiss="modal" onclick="$('#sign-in-modal').modal('show');">Already have an account? Sign in!</a>
                    <input class="btn btn-primary pull-right" type="submit" value="Sign up" onclick="send_signup('suform');return false;">
                </form>

            </div>
        </div>
    </div>
</div>

<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><i class="icon-user"></i> My account</h4>
            </div>
            <div class="modal-body">
                <table border="0" cellspacing="10" width="100%">
                    <tr>
                        <td width="30%">Username:</td><td width="70%">{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>Email: </td><td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Groups:</td><td>
                        {% for g in user.groups.values %}
                        <span class="badge">{{ g.name }}</span>
                        {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info">Edit account details</button>
                <a href="loggedout" class="btn btn-danger">Log out!</a>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    function send_signin(){
        Dajaxice.webinterface.signin_form(Dajax.process,{'form':$('#aform').serialize(true)});
        return false;
    }
    function send_signup(){
        //console.log($('#suform').serialize(true));
        Dajaxice.webinterface.signup_form(Dajax.process,{'form':$('#suform').serialize(true)});
        return false;
    }
    function update_sign_in(id,username) {
        // execute functions requiring login
        for (var i=0 ; i< curstate.loginfuncs.length ; i++) {
            curstate.loginfuncs[i](id, username);
        }

        if ($('#sign-in-modal').is(":visible")) $('#sign-in-modal').modal('hide');
        if ($('#sign-up-modal').is(":visible")) $('#sign-up-modal').modal('hide');
    }
</script>