
#dataset-modal .modal-dialog {
    width: auto;
}

#dataset-modal .modal-body {
    /*padding: 0;*/
}

#dataset-modal .dataset-modal-container {
    /*max-height: 400px;*/
    overflow: hidden;
}

.dataset-panel:nth-of-type(1) {
    margin-left: -2px;
}

.dataset-panel {
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-width: 1000;
    /*min-width: 400px;*/
    padding: 0px 10px 0px 10px;
    border-left: 2px solid #252525;
}
.dataset-panel .panel-item {
    display: block;
    text-align: left;
    border-radius: 10px;
    height: auto;
    line-height: 20px;
    font-size: 14px;
    background-color: #595959;
    margin-bottom: 2px;
    padding: 0 5px 0 5px;
    cursor: hand;
    cursor: pointer;
}

.dataset-panel .selected {
    background-color: #C4C4C4;
    color: #000000;
}

.dataset-panel .panel-item i {
    line-height: 20px;
}
.dataset-panel .panel-item i:hover {
    color: #ffffff;
}
.dataset-panel .panel-item .panelinfo {
    display: none;
    font-size: 11px;
    line-height: normal;
}
.dataset-panel .panel-item .paneledit {
    float: right;
    display: none;
    margin-top: 5px;
}
.dataset-panel .panel-item .paneledit button {
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0px;
    /*border-radius: 50%;*/
}
.dataset-panel .panel-item .paneledit i {
    padding: 0 5px 0 0;
}
.dataset-panel .panel-item .paneledit i:hover {
    color: #ff0000;
}
.dataset-panel .panel-item .panelinfo i {
    margin: 5px 0 5px 0;
    font-size: 9px;
}
/*
.dataset-panel i.icon-trash {
    color: red;
}
*/