{% extends "base-nosidebar.html" %}

{% block content %}
    <br>
    <div class="row-fluid well">
        <p class="lead"><strong>About</strong><a href="www.catami.ivec.org"> CATAMI</a></p>

        <p> This project includes development funded by the Australian National Data Service (ANDS) and the National
            eResearch Collaboration Tools and Resources (NeCTAR). ANDS is supported by the Australian Government through
            the National Collaborative Research Infrastructure Strategy Program and the Education Investment Fund (EIF)
            Super Science Initiative. NeCTAR is an Australian Government project conducted as part of the Super Science
            initiative and financed by the Education Investment Fund. The University of Melbourne has been appointed the
            lead agent by the Commonwealth of Australia, Department of Industry, Innovation, Science, Research and
            Tertiary Education. </p>
    </div>

    <div class="row-fluid well">
        <p class="lead"><strong>ANDS</strong><a href="http://www.ands.org.au/"> Australian National Data Service</a></p>

        <p>ANDS is building the Australian Research Data Commons: a cohesive collection of research resources from all
            research institutions, to make better use of Australia's research data outputs.</p>

        <p><a href="http://www.ands.org.au/" title="ANDS"><img style="width: 143px; height: 70px; border: 0;"
                                                               src="http://www.ands.org.au/assets/images/ands-full-b.png"
                                                               alt="ANDS"></a></p>
    </div>

    <div class="row-fluid well">
        <p class="lead"><strong>NeCTAR</strong><a href="http://www.nectar.org.au/"> NeCTAR </a></p>

        <p>NeCTAR is an Australian Government project to build new infrastructure specifically for the needs of
            Australian researchers</p>

        <p><a href="http://www.nectar.org.au/" title="NeCTAR"><img style="width: 160px; height: 108px; border: 0;"
                                                                   src="http://nectar.org.au/sites/default/files/NeCTARbox.jpg"
                                                                   alt="NeCTAR"></a></p>
    </div>

    <div class="row-fluid well">
        <p class="lead"><strong>The University of Sydney</strong><a href="http://sydney.edu.au/"> The University of
            Sydney </a></p>

        <p>Our scholars and students share a passionate commitment to the transformative power of education. Our
            research makes a real difference to our understanding of today's world and how we work and live in it, and
            we enrich our community by bringing together people from all social and cultural backgrounds.</p>

        <p><a href="http://sydney.edu.au/" title="The University of Sydney"><img
                style="width: 9.524em; height: 3.810em; border: 0;"
                src="http://sydney.edu.au/images/common/university_sydney_logo.gif" alt="The University of Sydney"></a>
        </p>
    </div>
    <div class="row-fluid well">
        <p class="lead"><strong>iVEC</strong><a href="http://www.ivec.org/"> iVEC</a></p>

        <p>iVEC is encouraging and energising research in, and the uptake of, supercomputing, large scale data storage
            and visualisation in Western Australia. This is achieved by making available facilities and expertise to the
            research, education and industrial communities. Application areas include nanotechnology, radioastronomy,
            high energy physics, medical and mining training, medical research, mining and petroleum, architecture and
            construction, multimedia, and urban planning.</p>

        <p><a href="http://www.ivec.org/" title="iVEC"><img style="width: 360px; height: 86px; border: 0;"
                                                            src="http://www.ivec.org/sites/default/files/logo.gif"
                                                            alt="iVEC"></a></p>
    </div>

    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
{% endblock %}

